<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://com.opcoach.parcauto/1.0"
            class="parcauto.impl.MParcautoFactoryImpl">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.opcoach.parcauto/1.0"
            class="parcauto.MParcautoPackage">
      </package>
   </extension>

</plugin>
